<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
		<h2>Adding CSS, JavaScript and Image in Thymeleaf</h2>
		
		<img th:src="@{/images/1111946.jpg}" alt="Image here" style="width: 100%;"/>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Voluptatem adipisci fuga voluptatum iure dolore odio omnis magnam ab
			illum cumque! Nihil eos rem possimus aliquam ullam ad quia ut
			distinctio repellendus deserunt laborum id maiores unde excepturi
			voluptate ea doloremque? Aspernatur harum reprehenderit minima totam
			laudantium expedita tempora doloremque reiciendis nisi qui amet
			similique dolore corporis natus labore tempore saepe accusamus
			fugiat. Dolorum commodi officia maiores ad nesciunt mollitia rem quas
			repellat excepturi soluta facilis iste ab ex ea dicta molestiae
			maxime modi itaque sapiente quisquam quaerat temporibus quam quidem
			similique doloremque earum hic veniam perspiciatis aliquid recusandae
			vel deleniti!</p>
	</div>

	<script type="text/javascript" th:src="@{/js/myJs.js}"></script>

</body>
</html>