<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Profile</title>
</head>
<body>
	<section>
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Provident laborum.</h1>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Ratione facilis nihil obcaecati iste magni quas omnis sed aliquid
			quam harum illum provident incidunt maxime libero enim accusantium
			architecto ipsa officiis laudantium laboriosam voluptatum temporibus
			eius asperiores voluptatem minus consequuntur odit distinctio nostrum
			debitis neque a minima aperiam impedit saepe suscipit deleniti et.
			Ullam magnam ipsum pariatur eum suscipit commodi nihil doloribus
			quibusdam numquam ipsa similique velit cumque non quasi itaque optio
			mollitia maxime aliquam facere quam porro expedita provident minus
			odio inventore perferendis est saepe nobis neque? Dolorum eos id ab
			repudiandae laboriosam voluptatibus nisi pariatur nobis porro et ex!</h4>
	</section>

</body>
</html>